body{
    font-family: "Comfortaa", sans-serif;
}
.parent{
    position: relative;
    border: 1px black solid;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.solid-circle{
    height: 750px;
    width: 750px;
    background: rgb(203, 87, 52);
    border-radius: 50%;
    position: absolute;
    right: -375px;
    top:-150px
    
    
}
.header-home{
    
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 30px;
    padding: 0px 75px;
}
#click-here-button{
    background-color: white;
    color: rgb(203, 87, 52);
    font-size: large;
    font-weight: 600;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.50);
}
#Name{
    color: rgb(203, 87, 52);
    font-size: 80px;
}
.form-floating{
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
    border-radius: 8px;
}
#login-button{
   background-color: rgb(203, 87, 52);
   color: white;
   padding: 5px 25px;
}
.main-content{
    margin-left: 25px;
}
@media only screen and (max-width: 768px){
    .solid-circle{
        background: rgb(244, 93, 93);
        width: 300px;
        height: 350px;
        right: -120px;
        top: -125px;
    }
    #Name{
        color: rgb(244, 93, 93);
    }
    #login-button{
        background: rgb(244, 93, 93);
    }
    #click-here-button{
        color: rgb(244, 93, 93);
    }
}