body{
    font-family: "Comfortaa", sans-serif;
}
.header{
    background: rgb(203, 87, 52) ;
    color: white;
    padding-left: 25px;
    font-size: large;
}
.input-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(203, 87, 52) ;
    margin-top: 15px;
    padding: 25px 0px;
}

#add-button{
    background: rgb(203, 87, 52) ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: x-large;
    font-weight: 600;
    color: white;
}
.inputs{
    width: 30%;
}
.cards{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
}
.card{
    background-color: rgb(203, 87, 52);
    border: 0px;
    height: 150px;
    width: 18rem;
}
.card-body{
    color: white;
}
.transaction-table{
    width: 95%;
    margin: auto;
    border: 1px black solid;
    border-radius: 8px;
    overflow: hidden;
    font-weight: 900;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.5);
    padding: 0px;
}
#header-row{
    background:rgb(203, 87, 52) ;
}
#header-row th{
    padding: 15px 0px;
    color: white;
}
.delete-button,.delete-button:hover{
    background: red;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
@media only screen and (max-width: 768px){
    .header{
        background: rgb(244, 93, 93);
    }
    .input-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    }
    .inputs{
        width: 75%;
    }
    #add-button{
        background: rgb(244, 93, 93);
        width: 75%;
        border-radius: 8px;
    }
    .cards{
        flex-wrap: wrap;
        gap: 15px;
    }
    .card{
        width: 190px;
        background: rgb(244, 93, 93);
    }
    #header-row{
        background: rgb(244, 93, 93);
    }
}